<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">List Of Customers</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User Details</h6>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>D.O.B</th>
                        <th>Permanent Address</th>
                        <th>Temporary Address</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let user of userList,index as i">
                        <td>{{i+1}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.userEmail}}</td>
                        <td>{{user.dob}}</td>
                        <td>{{user.paddress}}</td>
                        <td>{{user.taddress}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="deleteUser(user.userEmail)">Delete</button>
                        </td>
                    </tr>
                </tbody>

            </table>
            </div>
        </div>
</div>